# NetBench: ES-MDA assimilation (single CSV case)
steps:
  - id: assim
    task: assimilation.esmda_csv
    sim: ${sim}
    params:
      conditions_file: ${benchmarks.conditions_file}
      case_id: ${benchmarks.case_id}
    observables:
      observables:
        - name: gas_composition
          params:
            stats: [last]
            species: [CO2, CO]
    assimilation:
      obs_file: ${assimilation.obs_file}
      case_id: ${benchmarks.case_id}
      obs_mapping:
        CO2_final: gas.CO2.last
        CO_final: gas.CO.last
      default_prior:
        type: uniform
        low: 0.7
        high: 1.3
      parameters:
        - reaction_id: "H + O2 <=> O + OH"
        - reaction_id: "OH + CO <=> H + CO2"
        - reaction_id: "CH4 + OH <=> CH3 + H2O"
        - reaction_id: "HO2 + HO2 <=> O2 + H2O2"
        - reaction_id: "H2O2 (+M) <=> 2 OH (+M)"
        - reaction_id: "CH3 + O2 <=> O + CH3O"
        - reaction_id: "CH3 + O2 <=> CH3O + O"
      params:
        ensemble_size: 12
        iterations: 3
        ridge: 1.0e-6
        missing_strategy: skip
  - id: viz
    task: viz.benchmark_report
    name: bench_gri30_netbench_assim_esmda
    dashboard: benchmark
    inputs:
      assimilation:
        - "@assim"
