name: build_temporal_graph
steps:
  - id: sim
    task: sim.run
    sim: ${sim}
  - id: graph
    task: graphs.temporal_flux
    inputs:
      run_id: "@sim"
    params:
      windowing:
        type: log_time
        count: 3
        base: 10.0
      aggregation:
        mix:
          mean: 0.5
          p95: 0.5
      sparsify:
        quantile: 0.9
