name: cantera
mechanism: gri30.yaml
phase: gas
initial:
  T: 1000.0
  P: 101325.0
  X:
    CH4: 1.0
    O2: 2.0
    N2: 7.52
reactor:
  type: IdealGasConstPressureReactor
  energy: on
time_grid:
  start: 0.0
  stop: 1.0e-3
  steps: 4
solver:
  rtol: 1.0e-9
  atol: 1.0e-15
  max_steps: 100000
